{% extends 'SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig' %}

{% block burgov_key_value_widget %}
    {{- block('sonata_type_native_collection_widget') -}}
{% endblock %}

{% block burgov_key_value_row_widget %}
    <div class="clearfix row">
        <div class="col-xs-6">
            {{ form_row(form.key) }}
        </div>
        <div class="col-xs-6">
            {{ form_row(form.value) }}
        </div>
    </div>
{% endblock %}


{% block sonata_type_native_collection_widget_row %}
    {% spaceless %}
        <div class="sonata-collection-row clearfix">
            <div class="col-xs-10">
                {{ form_widget(child) }}
                {{ form_errors(child) }}
            </div>
            {% if allow_delete %}
                <div class="col-xs-2">
                    <br>
                    <a href="#" class="btn btn-danger btn-block sonata-collection-delete"><i class="fa fa-minus-circle"></i></a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock sonata_type_native_collection_widget_row %}

{% block sonata_type_native_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set child = prototype %}
            {% set attr = attr|merge({'data-prototype': block('sonata_type_native_collection_widget_row'), 'data-prototype-name': prototype.vars.name, 'class': attr.class|default('') }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
            {% for child in form %}
                {{ block('sonata_type_native_collection_widget_row') }}
            {% endfor %}
            {{ form_rest(form) }}
            {% if allow_add %}
                <div class="clearfix">
                    <a href="#" class="btn btn-default sonata-collection-add"><i class="fa fa-plus-circle"></i></a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock sonata_type_native_collection_widget %}
