{% extends '::layout.html.twig' %}

{% block content %}
	<h1><a href="{{ url('core_attribute_create', { type: 'form' }) }}">+</a></h1>
	<h1>list</h1>

	<table>
		{% for record in records %}
		<tr>
			<td>
				<a href="{{ url('core_attribute_edit', { id: record.id }) }}">
				{{ record.type.name }}
				#
				{{ record.id }}
				</a>
			</td>
			<td>{{ dump(record.serialize) }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}