{% extends sonata_block.templates.block_base %}

{% block block %}
    {% set container_id = 'block_container_'~block.id %}
    {% set form_id = 'block_form_'~block.id %}

    {{ form_start(form, {attr:{id: form_id, novalidate:true}}) }}
        {{ form_errors(form) }}

        <h3>{{ block.settings.title }}</h3>

        {% for message in messages %}
            <div class="alert alert-{{ message.type }}">{{ message.message }}</div>
        {% endfor %}


        {{ form_widget(form) }}
        <input type="submit" value="{{ 'link.submit'|trans }}">
    {{ form_end(form) }}


    <script>
        $(function(){
            var formId = '{{ 'block_form_'~block.id }}';
            var $form = $('#'+formId);
            var $container = $('#{{ form_id }}');
            $form.on('submit', function(e){
                e.preventDefault();


                $.post($form.attr('action'), $form.serializeArray(), function(result){
                    $container.replaceWith(result);
                });

                $form.find(':input').attr('disabled', 'disabled');
                $form.css('opacity', '0.5');

                return false;
            })
        })
    </script>

{% endblock %}